@import '../../style/colors.scss';

.card {
  width: 12rem;
  height: 18rem;
  margin: 1rem;
  background-color: $chrome-yellow;
  border-radius: 0.5rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }

  &__front {
    transition: background 0.5s;
    width: 12rem;
    height: 18rem;
    position: relative;
    padding: 0.5rem;
    background-color: $alabaster;
    align-items: center;
    overflow: hidden;

    &:hover {
      background-color: $chrome-yellow;
    }
  }

  &__back {
    overflow: auto;
    padding: 1rem;
    font-weight: bold;
    color: $alabaster;
  }

  &__image {
    position: relative;
    z-index: 1;
    width: auto;
    height: 9rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__info {
    position: relative;
    z-index: 4;
    text-align: center;
  }

  &__name {
    font-size: 1.25rem;
    font-weight: bold;
    color: $deep-taupe;

    &--big {
      font-weight: bolder;
      position: absolute;
      top: -2rem;
      left: -1rem;
      font-size: 5rem;
      color: $bone;
      opacity: 0.5;
      z-index: 0;
      transform: rotate(-45deg);
    }
  }

  &__tagline {
    color: $kobe;
    opacity: 0.5;
  }

}
