<div 
  class="paginate"
>
  <div 
    class="paginate__wrapper"
  >
    <button 
      class="paginate__button" 
      (click)="handlePaginate(stateService.pageNumber - 1, $event)"
    > 
      - 
    </button>

    <input 
      class="paginate__input" 
      #paginateBeers 
      (keyup.enter)="handlePaginate(+paginateBeers.value, $event)" 
      type="text"
      [value]="stateService.pageNumber" 
      placeholder="go to page"
    >
    
    <button 
      class="paginate__button" 
      (click)="handlePaginate(stateService.pageNumber + 1, $event)"
    > 
      +
    </button>
  </div>
</div>
