@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.search {
  position: relative;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  min-height: 2rem;
  background-color: white;
  z-index: 15;
  padding: 0.25rem 1rem;

  @include sm {
    width: 28rem;
  }

  @include md {
    width: 42rem;
  }

  @include lg {
    width: 56rem;
  }

  @include xl {
    width: 70rem;
  }


  &__input {
    margin: 0.25rem 1rem;
    position: relative;
    z-index: 12;
    width: 100%;
    height: 2rem;
    border: none;

    &--full-border {
      border-radius: 1rem;
    }

    &--half-border {
      border-radius: 1rem 1rem 0 0;
    }
  }

  &__select {
    padding-top: 1rem;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    top: 2rem;
    width: 100%;
    background-color: white;
    z-index: 11;
    overflow: hidden;
  }

  &__option {
    :first-child {
      margin-top: 1rem;
    }

    padding: 0.25rem 1rem;

    &:hover {
      background-color: $alabaster;
      cursor: pointer;
    }
  }

  &__outside {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    opacity: 0.5;
    z-index: 10;
  }
}
