<div
  id="search"
  class="search"
  (click)="handleSearchFocus(true)"
>

  <input 
    #searchQuery
    class="search__input"
    (keyup)="handleFilterRecents(searchQuery.value, $event)"
    (keyup.enter)="handleSearch(searchQuery.value, $event)"
    (keyup.esc)="handleSearchFocus(false)"
    [value]="searchValue"
    type="text"
    placeholder="Search beer name"
  >

  <div
    *ngIf="isSearchFocused"
    name="search"
    class="search__select"
  >
    <p
      class="search__option"
      *ngFor="let searchItem of state.tempSearchList"
      (click)="handleSearch(searchItem, $event)"
    >
      {{ searchItem }}
    </p>
  </div>

</div>

<div
  *ngIf="isSearchFocused"
  class="search__outside"
  (click)="handleSearchFocus(false)"
>
</div>
