<div id="search" class="search" (click)="handleSearchFocus(true)">
  <input class="search__input" #searchQuery (keyup.enter)="search(searchQuery.value, $event)"
    (keyup)="filterRecentSearches(searchQuery.value, $event)" (keyup.esc)="handleSearchFocus(false)" type="text"
    placeholder="Search beer name" [value]="searchValue">
  <div *ngIf="isSearchFocused" class="search__select" name="search">
    <p class="search__option" *ngFor="let searchItem of state.tempSearchList" (click)="search(searchItem, $event)">
      {{searchItem}}
    </p>
  </div>
</div>
<div *ngIf="isSearchFocused" class="search__outside" (click)="handleSearchFocus(false)"></div>
